body {
  background-color: #faf8f1;
  color: #0a1520;
  font-family: 'Poppins', sans-serif;
}

.main {
  display: flex;
  max-width: 1200px;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
}
